
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-4">
    <h1 class="text-center">GIỎ HÀNG</h1>
    
    <div class="row my-4">

        <div class="col-md-8">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th style="width:70px;">Hình</th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Giá</th>
                        <th>Thành tiền</th>
                        <th></th>


                    </tr>
                </thead>
                <tbody>
                    @for (int i = 1; i <= 5; i++)
                    {
                        <tr>
                            <td class="text-center">1</td>
                            <td>
                                <img src="~/Public/img/Product/Con_1.jpg" class="img-fluid" />
                            </td>
                            <td>Converse Run Star Hike Keith Haring</td>
                            <td>
                                <input name="sl" value="0" style="width:70px;" min="0" type="number" class="form-control" />
                            </td>
                            <td class="text-right">200000</td>
                            <td class="text-right">600000</td>
                            <td class="text-center"><span class="text-danger" style="font-size:18px;"><i class="fas fa-times"></i></span></td>
                        </tr>
                    }

                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">
                            <a href="@Url.Action("Index","SanPham")" class="btn btn-success">Mua thêm sản phẩm</a>
                        </td>
                        <td colspan="4" class="text-right">
                            <button class="btn btn-info">Cập nhật</button>
                            <button class="btn btn-danger">Xóa đơn hàng</button>
                        </td>

                    </tr>
                </tfoot>
            </table>

        </div>
        <div class="col-md-4">
            <h3 class="text-center">THÔNG TIN ĐƠN HÀNG</h3>
            <p> Số sản phẩm: 10sp</p>
            <p> Tổng tiền: 100000000 VNĐ</p>
            <p> Phí vận chuyển 30K(Ngoài HCM)</p>
            <p> Tổng Số Tiền Thanh Toán: 100000000 VNĐ</p>
            <button class="btn btn-success">Thanh Toán</button>
        </div>
    </div>
</div>



