
@{
    ViewBag.Title = "Shopping_Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body style="text-align:center">
    <h2>Mua hàng thành công !!!</h2>
    <h4>Hóa đơn của bạn đã nhận !! Bạn sẽ nhận được hàng từ 2-3 ngày. Cảm ơn đã ủng hộ shop </h4>
    <a class="btn btn-secondary" href="@Url.Action("Home","Site")">Tiếp tục mua hàng</a>
</body>


