
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">

            <img src="https://drake.vn/image/cache/catalog/banner/banner-l%E1%BB%9Bn/web-Palladium-Pallabrousse-Legion-1500x560.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://drake.vn/image/cache/catalog/banner/banner-l%E1%BB%9Bn/web-converse-ARCHIVE-PAINT-SPLATTER-1500x560.jpg" class="d-block w-100" alt="...">

        </div>
        <div class="carousel-item">
            <img src="https://drake.vn/image/cache/catalog/banner/banner-l%E1%BB%9Bn/web-converse-Keith-Haring-1500x560.jpg" class="d-block w-100" alt="...">

        </div>
        <div class="carousel-item">
            <img src="https://drake.vn/image/cache/catalog/banner/banner-l%E1%BB%9Bn/web-vans-classic-1500x560.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-5 my-4   ">
            <img style="        padding-left: 40px
" src="https://i.vietgiaitri.com/2019/5/4/7-cach-phoi-quan-ao-voi-giay-converse-cao-co-chat-ca-tuan-45cde9.jpg" class="img-fluid" />
        </div>
        <div class="col-md-5  ">
            <h2 style="font-size: 50px;">Một đôi giầy có thể thay đổi cuộc đời bạn.</h2>
            <p>Nếu bạn còn băn khoăn tại sao một người đàn ông lại sẵn sàng tiêu một khoản tiền lớn cho đôi giày của mình, thì hãy cùng Remmy khám phá ra năng lực thần kỳ của những đôi giày nam đẹp qua những trích dẫn kinh điển nổi tiếng nhất thế giới.</p>
            <p>Chừng nào tôi chưa chọn được đôi giày phù hợp, tôi sẽ không mặc gì hết - Anna Dello Russo</p>
            <p>Mọi người nói tôi có ba nghìn đôi giày nhưng không phải vậy. Tôi chỉ có một nghìn không trăm sáu mươi đôi giày thôi - Imelda Marcos</p>
            <p>Chừng nào mà chân tôi còn trên mặt đất, tôi sẽ chỉ mang những đôi giày đẹp - Oprah Winfrey</p>
            <p>Nếu tóc của bạn được làm đúng kiểu và bạn đang mang một đôi giày tốt, đảm bảo bạn sẽ thành công trong bất cứ lĩnh vực nào - Iris Apfel</p>
            <h4>Cùng khám phá HHL của chúng tôi nhé Broooooooo!!!! </h4>

        </div>

    </div>
</div>
<div class="container my-4">
    <div class="row">
        <div style="padding-left:50px" class="col-md-12 mb-4 img-category">

            <img src="https://drake.vn/image/catalog/banner/Banner%20danh%20muc%20trang%20chu/03.2021/untitled%20folder/danh-muc-converse-sneaker-0321aaa.jpg" class="img-fluid" />
        </div>
        <div class="col-md-3 mb-4 img-category">
            <div class="info-category">
                <h3 style="color:black;"> Converse CTAS 1970s Keith Haring </h3>
                <p>Drake Price:  2.000.000đ</p>
                <a class="btn btn-warning" href="#" role="button">Mua</a>
            </div>
            <img src="https://drake.vn/image/cache/catalog/Converse/GIA%CC%80Y%202/171858V/171858V-300x300.jpg" class="img-fluid" />
        </div>
        <div class="col-md-3 mb-4 img-category">
            <img src="https://drake.vn/image/cache/catalog/Converse/GIA%CC%80Y%202/560251C/560251C-300x300.jpg" class="img-fluid" />
            <div class="info-category">
                <h3 style="color:black;"> Converse CTAS Lift Canvas </h3>
                <p>Drake Price:  1.600.000đ</p>
                <a class="btn btn-warning" href="#" role="button">Mua</a>
            </div>
        </div>
        <div class="col-md-3 mb-4 img-category">
            <img src="https://drake.vn/image/cache/catalog/Converse/GIA%CC%80Y%202/171120V/171120V-300x300.jpg" class="img-fluid" />
            <div class="info-category">
                <h3 style="color:black;"> Converse Run Star Hike Keith Haring </h3>
                <p>Drake Price:  2.200.000đ</p>
                <a class="btn btn-warning" href="#" role="button">Mua</a>
            </div>
        </div>
        <div class="col-md-3 mb-4 img-category">
            <img src="https://drake.vn/image/cache/catalog/Converse/GIA%CC%80Y%202/570773C/570773C-300x300.jpg" class="img-fluid" />
            <div class="info-category">
                <h3 style="color:black;"> Converse CTAS Lift Archive Print </h3>
                <p>Drake Price:  1.700.000đ</p>
                <a class="btn btn-warning" href="#" role="button">Mua</a>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12 mb-4 img-category">
            <img style="padding-left:50px" src="https://drake.vn/image/catalog/banner/Banner%20danh%20muc%20trang%20chu/03.2021/untitled%20folder/danh-muc-vans-classic-0321a.jpg" class="img-fluid" />
        </div>
        <div class="col-md-3 mb-4 img-category">
            <img src="https://drake.vn/image/cache/catalog/Vans/SNEAKERS%202/VN0A5FCBY28/VN0A5FCBY28-300x300.jpg" class="img-fluid" />
            <div class="info-category">
                <h3 style="color:black;"> Vans MN Skate Old Skool </h3>
                <p>Drake Price:  1.500.000đ</p>
                <a class="btn btn-warning" href="#" role="button">Mua</a>
            </div>
        </div>
        <div class="col-md-3 mb-4 img-category">
            <img src="https://drake.vn/image/cache/catalog/Vans/SNEAKER/H%C3%ACnh%20Trang%20Ch%E1%BB%A7/VN0A38ENMR4-DRAKE-300x300.jpg" class="img-fluid" />
            <div class="info-category">
                <h3 style="color:black;"> Vans Authentic 44 DX Anaheim Factory </h3>
                <p>Drake Price:  1.700.000đ</p>
                <a class="btn btn-warning" href="#" role="button">Mua</a>
            </div>
        </div>
        <div class="col-md-3 mb-4 img-category">
            <img src="https://drake.vn/image/cache/catalog/Vans/EWZBLK-300x300.jpg" class="img-fluid" />
            <div class="info-category">
                <h3 style="color:black;"> Vans Authentic </h3>
                <p>Drake Price:  1.200.000đ</p>
                <a class="btn btn-warning" href="#" role="button">Mua</a>
            </div>
        </div>
        <div class="col-md-3 mb-4 img-category">
            <img src="https://drake.vn/image/cache/catalog/Vans/D5IB8C-300x300.jpg" class="img-fluid" />
            <div class="info-category">
                <h3 style="color:black;"> Vans Sk8-Hi </h3>
                <p>Drake Price:  2.000.000đ</p>
                <a class="btn btn-warning" href="#" role="button">Mua</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div style="padding-left:50px" class="col-md-12 mb-4 img-category">
            <img src="https://drake.vn/image/catalog/banner/Banner%20danh%20muc%20trang%20chu/03.2021/untitled%20folder/danh-muc-palladium-sneaker-0321a.jpg" class="img-fluid" />
        </div>
        <div class="col-md-3 mb-4 img-category">
            <img src="https://drake.vn/image/cache/catalog/Palladium/SNEAKER/77082-116-M/77082-116-M-300x300.jpg" class="img-fluid" />
            <div class="info-category">
                <h3 style="color:black;"> Palladium Pampa Lite Overlab Neon </h3>
                <p>Drake Price:  2.500.000đ</p>
                <a class="btn btn-warning" href="#" role="button">Mua</a>
            </div>
        </div>
        <div class="col-md-3 mb-4 img-category">
            <img src="https://drake.vn/image/cache/catalog/Palladium/77077-651-M/77077-651-M-300x300.jpg" class="img-fluid" />
            <div class="info-category">
                <h3 style="color:black;"> Palladium Pampa Hi Mono Chrome </h3>
                <p>Drake Price:  2.120.000đ</p>
                <a class="btn btn-warning" href="#" role="button">Mua</a>
            </div>
        </div>
        <div class="col-md-3 mb-4 img-category">
            <img src="https://drake.vn/image/cache/catalog/Palladium/SNEAKER/06655-701-M/06655-701-M-300x300.jpg" class="img-fluid" />
            <div class="info-category">
                <h3 style="color:black;"> Palladium Pampa Smiley </h3>
                <p>Drake Price:  2.100.000đ</p>
                <a class="btn btn-warning" href="#" role="button">Mua</a>
            </div>
        </div>
        <div class="col-md-3 mb-4 img-category">
            <img src="https://drake.vn/image/cache/catalog/Palladium/96660-008-M/96660-008-M-300x300.jpg" class="img-fluid" />
            <div class="info-category">
                <h3 style="color:black;"> Palladium EASY MULE </h3>
                <p>Drake Price:  1.200.000đ</p>
                <a class="btn btn-warning" href="#" role="button">Mua</a>
            </div>
        </div>
    </div>


</div>


