@model IEnumerable<ShopGiayHHL.Models.Posts>
@{
    ViewBag.Title = "Tin tức - HHL Shoes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-2">
           
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <strong class="text-dark text-uppercase">
                                TIN TỨC
                            </strong>
                        </div>
                        <div class="col-md-6 text-right">

                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table id="myTable" class="table table-bordered table-hover table-striped ">
                        <div class="row">
                            <div class="row">

                                @foreach (var posts in Model)
                                {
                                    <div class="container">
                                        <div class="row py-2">
                                            <div class="col-md-3">
                                                <div class="card" style="width: 200px; height:250px;">

                                                    <div class="card-body my-5">
                                                        <img src="~/Public/img/Post/@posts.Img" class="img-fluid" alt="...">

                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div class="col-md-9">

                                                <div class="card" style="width: 100%;">

                                                    <div class="card-body">
                                                        <a href="#" style="text-decoration: none; color: #000000;">
                                                            <h5 class="card-title">@posts.Title</h5>
                                                        </a>
                                                        <p class="card-title">@posts.Detail</p>
                                                        <a href="#" class="btn btn-danger btn-sm"> Xem thêm ></a>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                }

                            </div>
                        </div>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
