
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">

            <div class="container" id="about-page" style="opacity: 1;">
                <div id="win-scroll" class="activated">
                    <!--SLIDER-->
                    <div class="slider-inner show" data-time="6000">
                        <div class="slide-bg-inner slide-slidebox" style="opacity: 1; display: inline-block;">
                            <div class="slide-wrapper-outer autoheight" style="height: 302.5px;">
                                <div class="slide-wrapper" style="width: 1980px; left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(0px, 0px, 0px);">
                                    <div class="slide-item select" style="width: 990px;">
                                        <div class="bg-inner" style="width: 100%; height: auto;">
                                            <img src="https://www.converse.com.vn/pictures/catalog/products/about.jpg" alt="About" style="width: 100%; height: auto; margin-left: -80px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/SLIDER-->
                    <!--CONTENT-->
                    <div class="content-page about">
                        <!--SECTION-->
                        <div class="section on-show">
                            <h2 style="text-align:center;font:20px"> Giới thiệu về HHL Shoes </h2>
                        </div>
                        <!--/SECTION-->
                        <!--SECTION-->
                        <div class="section on-show">
                            <div class="about-title">
                                
                            </div>
                            <div class="section-box">
                                <p>Chào mừng bạn đến với HHL Shoes Tại đây, mỗi một dòng chữ, mỗi chi tiết và hình ảnh đều là những bằng chứng mang dấu ấn lịch sử Converse 100 năm, và đang không ngừng phát triển lớn mạnh. Tất cả các thành tựu đáng tự hào của Converse đều không thể tách rời bởi 4 dòng sản phẩm kinh điển: Chuck Taylor All Star, Star Chevron, Jack Purcell và One Star. Trong tất cả các lĩnh vực như âm nhạc, thể thao, nghệ thuật và trào lưu thời trang, mỗi dòng sản phẩm này đều có một vị trí mang tính ảnh hưởng nhất định, như đang truyền tải một thông điệp “Tinh thần sáng tạo mà Converse đang theo đuổi là vô tận, là sự biến hóa không giới hạn”</p> <p>Mọi người đều có một lịch sử – như một câu chuyện trong đó ghi lại những điều họ đã trải nghiệm. Lịch sử Converse cũng vậy, nhưng đây lại là một loạt các câu chuyện rất cool, đã dẫn đắt một thương hiệu đi đến ngày hôm nay và trở thành phương hướng cho tương lai của một nhãn hiệu. Khi nói đến một con người hay một sự việc, chúng ta đều nhận thức được rằng, tầm quan trọng không phải về bề dày lịch sử,  hay được bao nhiêu tuổi mà chính là những thành tựu làm được mới là điều mọi người quan tâm. Sau đây là một câu chuyện về chúng tôi – thương hiệu Converse – câu chuyện mà mọi người sẽ cảm thấy thú vị và yêu thích nó</p>
                            </div>
                        </div>
                        <!--/SECTION-->
                        <!--SECTION-->
                        <div class="section on-show">
                            <div class="history-title">
                                <h2>Bắt đầu</h2>
                                <span style="background-image:url(https://www.converse.com.vn/pictures/catalog/about/about-bg1.png)"></span>
                            </div>
                            <div class="section-box">
                                <p>Vào một ngày đẹp trời năm 1908, Marquis Mills Converse quyết định bắt đầu một công ty giày cao su, sau khi bỏ qua một xưởng sản xuất cao su đã bị hầu hết các công ty từ kinh doanh trực tiếp và các nhà bán lẻ từ chối. Những ghi chú ban đầu không thống kê chính xác được bao nhiêu xe tải rời khỏi nhà máy Converse ở Malden, Massachusetts để cung cấp sản phẩm trực tiếp cho các cửa hàng ở Boston . Ý tưởng của ông Converse thực sự đúng. Và quan trọng nhất là, nó vẫn tồn tại đến ngày hôm nay.</p>
                            </div>
                        </div>
                        <!--/SECTION-->
                        <!--SECTION-->
                        <div class="section on-show">
                            <div class="history-title">
                                <h2>1908 - 1918</h2>
                                <span style="background-image:url(https://www.converse.com.vn/pictures/catalog/about/about-bg2.png)"></span>
                            </div>
                            <div class="section-box">
                                <p>Trong năm 1913, nội dung ghi chú lại như sau:”Từ khi thành lập từ năm 1908 đến này, chúng tôi luôn tin tưởng rằng, có một nhu cầu tha thiết từ các hệ thống bán lẻ giày hy vọng các công ty sản xuất giày cao su có được sự độc lập, không cần tất cả mọi việc đều đi theo bước chân của các công ty khác”. Về sau, sự thật đã chứng minh điều đó là đúng. Một thương hiệu trẻ và độc lập, quyết định hợp tác với vận động viên thể thao trẻ tuổi: bộ môn bóng rổ. Ngoài ra, trong khoảng thời gian này, Converse vẫn còn sản xuất một số lượng ít bánh xe cao su. Đương nhiên, ngôi sao bóng rổ trẻ vẫn được chú ý nhiều hơn.</p>
                            </div>
                        </div>
                        <!--/SECTION-->
                        <!--SECTION-->
                        <div class="section on-show">
                            <div class="history-title">
                                <h2>1918 - 1928</h2>
                                <span style="background-image:url(https://www.converse.com.vn/pictures/catalog/about/about-bg3.png)"></span>
                            </div>
                            <div class="section-box">
                                <p>Chuck Taylor gia nhập công ty cao su Converse. Tuy lịch sử không ghi nhận rõ ràng, nhưng chúng ta có thể đoán được, niềm thôi thúc anh ấy không phải là ngọn lửa bóng rổ, mà chính là lòng tin của anh đối với một sản phẩm dành riêng cho môn thể thao bóng rổ, đã thúc đẩy anh thực hiện niềm đam mê của mình.</p>
                            </div>
                        </div>
                        <!--/SECTION-->
                        <!--SECTION-->
                        <div class="section on-show">
                            <div class="history-title">
                                <h2>1928 - 1938</h2>
                                <span style="background-image:url(https://www.converse.com.vn/pictures/catalog/about/about-bg4.png)"></span>
                            </div>
                            <div class="section-box">
                                <p>Từ 1935, sau khi chữ ký được xuất hiện trên miếng gót giầy, Jack Purcell đã liên tiếp đạt giải quán quân trong 5 mùa giải quần vợt ở Canada, đồng thời trở thành quán quân quần vợt của thế giới. Giày Jack Purcell thực sự trở thành một sản phẩm kinh điển tiêu biểu cho hào quang của sự thành công và niềm đam mê thể thao.</p>
                            </div>
                        </div>
                        <!--/SECTION-->
                        <!--SECTION-->
                        <div class="section on-show">
                            <div class="history-title">
                                <h2>1938 - 1948</h2>
                                <span style="background-image:url(https://www.converse.com.vn/pictures/catalog/about/about-bg5.png)"></span>
                            </div>
                            <div class="section-box">
                                <p>Chiến tranh thế giới thứ II đã mang lại cơ hội tuyệt vời cho Converse, trở thành nhà cung cấp sản phẩm cho binh lính nước ngoài. Bao gồm: giày, quần áo, bốt cho phi công và quân lính, áo khoác và cả áo bảo vệ được làm từ cao su.</p>
                            </div>
                        </div>
                        <!--/SECTION-->
                        <!--SECTION-->
                        <div class="section on-show">
                            <div class="history-title">
                                <h2>1948 - 1958</h2>
                                <span style="background-image:url(https://www.converse.com.vn/pictures/catalog/about/about-bg6.png)"></span>
                            </div>
                            <div class="section-box">
                                <p>Âm nhạc Rock xuất hiện. Nó ồn ào, thô lỗ, dơ bẩn, khiến người khác e ngại sợ hãi. Nhưng chính Rock lại dấy lên một cuộc cách mạng thời trang: áo khoác da, quần jeans và giày thể thao cao cổ. Thú vị nhất là, cũng vào thời điểm đó, giày thể thao cao cổ và một kỳ tích cùng được ra đời: Hiệp hội bóng rổ quốc gia (NBA).</p>
                            </div>
                        </div>
                        <!--/SECTION-->
                        <!--SECTION-->
                        <div class="section on-show">
                            <div class="history-title">
                                <h2>1958 - 1968</h2>
                                <span style="background-image:url(https://www.converse.com.vn/pictures/catalog/about/about-bg7.png)"></span>
                            </div>
                            <div class="section-box">
                                <p>Đối với mỗi người, đây là 10 năm với quá nhiều thay đổi. Theo dòng phát triển của Rock và bóng rổ, Chuck Taylor All Star xuất hiện thêm nhiều màu sắc hơn. Song song với những biến chuyển của thời đại luôn cho ra đời nhiều kỳ tích, thương hiệu Converse lúc bấy giờ đã nhanh chóng vươn tới tất cả mọi ngóc ngách, từ trong nước đến ngoài nước, hay cả thị trường thế giới.</p>
                            </div>
                        </div>
                        <!--/SECTION-->
                        <!--SECTION-->
                        <div class="section on-show">
                            <div class="history-title">
                                <h2>1968 - 1978</h2>
                                <span style="background-image:url(https://www.converse.com.vn/pictures/catalog/about/about-bg9.png)"></span>
                            </div>
                            <div class="section-box">
                                <p>Vào khoảng năm 1974, giày thể thao Chuck Taylor All Star tiếp tục có nhiều sự sáng tạo mang tính đột phá, bề mặt giày được làm bằng chất liệu da nai, hông giày thêm hình ảnh ngôi sao năm cánh,mẫu giày dành riêng cho môn bóng rổ. Tính năng động và mới mẻ của mẫu giày mới này đã thu hút không ít ánh nhìn từ các Rocker và vận động viên ván trượt. Năm 1976, Pro Leather ra đời, sự tỏa sáng trên sân đấu đã trở thành ma lực hấp dẫn giới trẻ và trở thành mẫu giày nổi tiếng thế giới.</p>
                            </div>
                        </div>
                        <!--/SECTION-->
                        <!--SECTION-->
                        <div class="section on-show">
                            <div class="history-title">
                                <h2>1978 - 1988</h2>
                                <span style="background-image:url(https://www.converse.com.vn/pictures/catalog/about/about-bg10.png)"></span>
                            </div>
                            <div class="section-box">
                                <p>Từ năm 1980 đến 1990, Weapon – mẫu giày được sự quan tâm của các vận động viên chuyên nghiệp nay lại dành được sự ưu ái của giới học sinh trung học và đại học. Năm 1986, Convese đưa ra quảng cáo “Choose Your Weapon”, nội dung nói về 2 vận động viên bóng rổ mang những đôi giày nổi tiếng này cùng tranh tài cao thấp. Sau 20 năm, tại ngày hôm nay, kỳ tích của Weapon và những chiến tích của nó trên sân đấu, vẫn tồn tại một sức mạnh mang tính cạnh tranh cao.</p>
                            </div>
                        </div>
                        <!--/SECTION-->
                        <!--SECTION-->
                        <div class="section on-show">
                            <div class="history-title">
                                <h2>1988 - 1998</h2>
                                <span style="background-image:url(https://www.converse.com.vn/pictures/catalog/about/about-bg11.png)"></span>
                            </div>
                            <div class="section-box">
                                <p>Tiếp nối sự thành công của BST giày bóng rổ Grandmama. Năm 1966, All Star 2000 đã tạo nên tiếng vang lớn, đây là lần đầu tiên Converse áp dụng những kỹ thuật hiện đại trên nền tảng cơ bản của Chuck Taylor All Star, logo tròn phần gót chân, kết hợp với sợi viền màu đỏ ở đế giày, cộng với tính năng hiện đại, thực sự đã trở thành một bước đột phá mạnh, khiến hàng triệu người không thể cưỡng lại sức hấp dẫn của nó.</p>
                            </div>
                        </div>
                        <!--/SECTION-->
                        <!--SECTION-->
                        <div class="section on-show">
                            <div class="history-title">
                                <h2>1998 - 2008</h2>
                                <span style="background-image:url(https://www.converse.com.vn/pictures/catalog/about/about-bg1.png)"></span>
                            </div>
                            <div class="section-box">
                                <p>Bước vào thế kỷ thứ 2 của mình, tiếp nối truyền thống, Converse vẫn chủ trương nhìn thế giới bằng nhiều góc độ khác nhau, nhiệt tình với những con người mang tình yêu và hy vọng cho một thế giới tốt đẹp, đề cao tinh thần sáng tạo và những bước đột phá của nhạc Rock cũng như môn thể thao bóng rổ.<br>Sau khi đã nghe qua câu chuyện của chúng tôi, những trải nghiệm tốt đẹp đã qua tưởng chừng như đang diễn ra trong hôm nay, chắc chắn sẽ tiếp tục cho đến tương lai. SÁNG TẠO, ĐỘT PHÁ, LẠC QUAN, DŨNG CẢM là những điều chúng tôi đề cao, những tính chất tốt đẹp này sẽ lan truyền từ hôm nay cho đến mai sau.</p>
                            </div>
                        </div>
                        <!--/SECTION-->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>